<!DOCTYPE html>
<html>
<head>
	<title> تمرین ازمایشگاه مهندسی نرم افزار </title>
     <meta charset="utf-8">
    <link href= '{{static_url("css/bootstrap.min.css")}}' rel="stylesheet"/>
    <link href='{{static_url("css/style.css")}}' rel="stylesheet"/>
    <link href='{{("css/bootstrap-theme.min.css")}}' rel="stylesheet"/>
</head>
<body>
    	<section class="col-md-12 col-sm-12 header">
            <section class="col-md-4 col-sm-4 fo">
                <a href="/admin" class="btn btn-success"> ورود </a>
                <a href="#" class="btn btn-danger"> خروج </a>
            </section>
            <section class="col-md-8 col-sm-8">
                <section class="hidden-xs nav">
                        <ul class="nav-menu">
                            <li class="li1"><a href="#">درباره ی ما</a></li>
                            <li><a href="#">مشاغل</a></li>
                            <li><a href="#">تبلیغات</a></li>
                            <li><a href="#">تماس با ما</a></li>
                        </ul>
                    </section>
            </section>
        </section>
    <section class="container">
    	<section class="row main">
        	
        </section>
        <section class="row ma">
        	<section class="col-md-12">
                <section class="col-md-3"></section>
                
            </section>
            <section class="col-md-12 col-sm-12">
            	
                <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                	<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="direction: rtl">
                        <table dir="rtl">
                            <tr>
                                <td> عملیات اخبار سایت </td>
                                <td> <a href="/New/Add" class="btn btn-success"> افزودن خبر </a> </td>
                                <td> <a href="/admin" class="btn btn-default"> نمایش اخبار </a> </td>
                            </tr>
                            <tr>
                                <td> عملیات دسته های سایت </td>
                                <td> <a href="/category/new" class="btn btn-success"> افزودن دسته </a> </td>
                                <td> <a href="/category" class="btn btn-default"> نمایش دسته ها </a> </td>
                                <td> <a href="/category" class="btn btn-danger"> حذف دسته </a> </td>
                                <td> <a href="/category" class="btn btn-default"> ویرایش دسته </a> </td>
                            </tr>
                        </table>
                    </section>
                    <section class="col-md-12 text-right tab">
                    	<ul>
                            <li>
                            <a href="/" > صفحه اصلی </a>
                            </li>

                            <li>
                            <a href="/FivePost" > پنج پست آخر </a>
                            </li>

                        </ul>
                    </section>
                     
                   {% for post in CatInfo %}
                    <article class="text">
                                <figure class="image">
                                    <a href="#">	
                                        <img src="../static/img/{{post.image}}" width="190" height="110"/>

                                    </a>
                                </figure>
                                <section class="textpost">
                                    <h2><a href="#"> {{post.title}} </a></h2>
                                    <p class="info">
                                    	نوشته
                                    </p>
                                    <div class="a">
                                    	<a href="#">{{post.author}}</a>
                                    </div>
                                    <span> . </span>
{{post.date}}
                                    <a href="#">
                                    	<span> . </span>
                                        بدون نظر
                                    </a>
                                    <td> <a href="/New/delete/{{post.id}}" class="btn btn-danger"> حذف خبر </a> </td>
                                    <td> <a href="/New/Edit/{{post.id}}" class="btn btn-default"> ویرایش خبر </a> </td>
                                    <p></p>
                                    <div class="body">
                                    	<p>
                                            {{post.text}}
                                        </p>
                                    </div>
                                </section>
                                
                        </article>
                    {% end %}
                </section>
            </section>
        </section>

    </section>

    <script src="{{static_url('js/jquery-2.1.1.min.js')}}"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('js/npm.js')}}"></script>
</body>
</html>